*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Mc;
    src: url(Assets/Loader/McDonalds-Font/Speedee-Bold.woff2);
}

body{
    font-family: 'Mc' , Arial, Helvetica, sans-serif;
}

/* to be deleted after locomotive on */

html {
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to right , white , rgba(255, 221, 0, 0.553));
    filter: drop-shadow(0 0 26px rgba(254, 208, 25, 0.811));
    z-index: 9;
    overflow: hidden;
}
.n_left .logo{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.n_right ul {
    list-style: none;
    display: flex;

}

.n_right li a{
    margin-left: 25px;
    font-size: 1.2vw;
    position:relative;
    padding: .3vw 0.2vw;
}

nav a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    height: 2px;
    width: 0;
    transition: .3s;
}

nav a:hover::before{
    width: 100%;
}

.page1{
    padding: 3rem 1rem;
    height: 100vh;
    width: 100%;
    background-color: rgb(27, 26, 26);
    background-image: url(Assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_img{
    width: 100%;
    height:80%;
    position: relative;
    margin-left: 160px;
    margin-top: 50px;
    filter: drop-shadow(0 0 5px rgb(255, 204, 0)) drop-shadow(0 0 50px rgba(255, 204, 0, 0.493))
    drop-shadow(0 0 500px rgba(255, 204, 0, 0.578));

}

.p_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.p_text{
    position: relative;
    margin-right: 160px;
    margin-top: 50px;
    width: 35%;
    height: 80%;
    padding: 6vw .8vw;
}

.p_text h1{
    font-size: 6vw;
    color: white;
}

.p_text p{
    margin-top: 30px;
    font-size: 1.25vw;
    width: 90%;
    color: rgb(160, 158, 158);
}

.loader{
    position: absolute;
    z-index: 999;
    background-color: black;
    width: 100%;
    height: 100%;
     /*to be deleted*/
     /* display: none; */
}

.loader video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page2{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page2 .modes{
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(5px);
    border-radius: 3vw;
    filter: drop-shadow(0 0 25px rgba(246, 218, 79, 0.992));
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.modes .m{
    height: 72%;
    border-radius: 3vw;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: radial-gradient(rgb(252, 253, 157) , rgba(246, 218, 79, 0.992));
    /* background-color: rgba(246, 218, 79, 0.992); */
    padding: 3rem 2rem;
}
.m .img_top{
    width: 100%;
    height: 48%;
    border-radius: 1vw;
}

.m .img_top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.m .txt_btm{
    height: 48%;
    width: 100%;
    border-radius: 1vw;
    text-align: center;
}
.m .txt_btm h1{
    font-size: 3vw;
}

.m .txt_btm p {
    margin-top: 20px;
    font-size: .8vw;
    padding: 0 2vw;
}

.m2 .img_top img{
    object-fit: scale-down;
}

.m3 .img_top img{
    position: relative;
    top: -2%;
    height: 110%;
    object-fit: cover;
}

.page3{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.reviews{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.r_top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 80%;
    height: 80%;
    margin: 1%;
}
.r_btm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 80%;
    height: 80%;
    margin: 1%;
}

.reviews .r{
    width: 45%;
    height: 90%;
    border-radius: 2vw;
    background-color: rgb(246, 218, 79, 0.992);
    filter: drop-shadow(0 0 20px rgba(246, 218, 79, 0.992));
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-evenly;
    padding: 1vw ;
    align-items: center;
}

.r_pic{
    width: 40%;
    height: 90%;
    border-radius: 2vw;
    filter: drop-shadow(20px 0 20px rgba(0, 0, 0, 0.588));
}

.r_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2vw;
}

.r1 img{
    object-position: 10% 0;
}

.r3 img{
    object-position: 10% 0;
}

.r4 .r_txt{
    position: relative;
    top: -5%;
}

.r3 .r_txt{
    position: relative;
    top: -2%;
}

.r1 .r_txt{
    position: relative;
    top: -7%;
}

.r2 .r_txt{
    position: relative;
    top: -5%;
}

.r_txt{
    width: 55%;
    height: 90%;
    margin-left: 29px;
    border-radius: 2vw;
}

.r_txt {
    padding: 1.5vw;
    text-align: center;
}

.r_txt h1{
    font-size: 2vw;
}
.r_txt p{
    font-size: 1vw;
    margin-top: 5%;
}

.stars {
    margin-top: 10px;
    width: 100%;
    height: 20%;
    position: relative;
}

.stars img{
    left: -0%;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.r_txt h1{
    position: relative;
    cursor: pointer;
}
.r_txt h1::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-image: linear-gradient(to right , blue , red);
    transition: .5s;
    left: 0;
    bottom: 0;
}

.r_txt h1:hover::before{
    width: 100%;
    filter:drop-shadow(0 0 20px rgb(255, 0, 4));
}

.page1{
    position: relative;
    z-index: 10;
}

.page2{
    position: relative;
    z-index: 10;
}

header {
    position: relative;
    z-index: 20;
}
.page3{
    margin-bottom: 50vh;
    position: relative;
    z-index: 10;
    filter: drop-shadow(0 0 200px black);
}

footer{

    position: fixed;
    background-color: #0E0E0C;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 51vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 1vw 2vw;

}
footer h1{
    font-size: 5vw;
    color: #fff;
    cursor: pointer;
}

.amitoj{
    width: 30%;
    height: 80%;
    background-color: rgb(52, 178, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    flex-direction: column;
    transition: all .5s ease;
}

.amitoj:hover{
    width: 700px;
    background-color: rgb(52, 116, 219);
}

.om{
    width: 30%;
    height: 80%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    transition: all .5s ease;
}

.om:hover{
    width: 700px;
    background-color: rgb(100, 57, 57);
}

.hemant{
    width: 30%;
    height: 80%;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    flex-direction: column;
    transition: all .5s ease;
}

.hemant:hover{
    width: 700px;
    background-color: pink;
}

.handles{
    width: 90%;
    height: 20%;
    top: 16%;
    position: relative;
    background-color: rgba(128, 0, 128, 0.214);
    backdrop-filter: blur(5px);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.374) , -5px -10px 20px rgba(255, 255, 255, 0.382);
    border-radius: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.handles a img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.handles a{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.327));
}


